/* App styling */
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Map styling */

/* ArcGIS mapview has a non-zero height */
.webmap {
  height: 400px;
}

/* Sketch toolbar Styling */
.esri-component.esri-sketch esri-widget.esri-sketch__panel {
  top: 10em;
  position: relative;
}
/* Geometry Service Styling */
#info {
  top: 17em;
  color: #444;
  height: auto;
  font-family: arial;
  left: .5em;
  margin: 5px;
  padding: 10px;
  /* position: absolute; */
  text-align: left;
  width: 22em;
  z-index: 40;
}
.label {
  display: inline-block;
  width: 8em;
  font-weight: bold;
}

